<a ui-sref="newMovie" class="btn-primary btn-lg nodecoration">Add New Movie</a>
<table class="table movietable">
    <tr>
        <td><h3>All Movies</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="movie in movies">
        <td>{{movie.name}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="viewMovie({id:movie.id})">View</a>
            <a  ng-click="deleteMovie(movie)" href="#">Delete</a>
        </td>
    </tr>
</table>

<br />
<br />

<div ng-repeat="movie in movies">
	<a>{{movie.name}}</a>
</div>